[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
"jinja2" = "*"
click = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"

[requires]
python_version = "3.6"
